<html lang="en">
<head>
  <%- include("../helpers/head") %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>Trading Server</h1>
    <h6> By Ill&Co </h6>
  </div>
  <div class="main-block" style="display:flex; flex-direction: column; width:30vw;margin:auto;">
 
  <img src="images/ILLsimpleLogoreversed.png" style="width:30%;margin-left:auto;margin-right:auto;margin-top:6vh;margin-bottom:6vh;">
  
  <span style="font-size:0.5em; margin-top:6vh; margin-bottom:6vh;">Special thanks to hubspot for the introduction. ❤️</span>
  </div>
  
  <div class="main-block footer" style=" position:static; bottom:0;margin-top:auto; width:100%; padding-bottom:2vh;padding-top:2vh; background-color: transparent;display:flex;align-items: center;justify-content: center; text-align: center;">
    
    <div class="scrolling_text">
      <div class="text">
        <span>Code Provided by <a href="mailto:illimitedenterprise@gmail.com" style="text-decoration:none;">Illimited&Co</a></span>
      </div>
      <div class="text">
        <span>Code Provided by <a href="mailto:illimitedenterprise@gmail.com" style="text-decoration:none;">Illimited&Co</a></span>
      </div>
    </div>

  </div>

</body>

</html>
